*.tif
*.csv
*.jsonl
*.json
*.png
*.jpg
*.zip
*.pem
*.tar.gz
*.npz
*.h5
*.txt
*.pth
*.swp
*.internal
*.pyc
*.pkl
*ec2.internal*
*.whl
*.pt
*.yaml
*.cache
*.lock
detectron2/
Mask2Former/
mmdetection/
mmcv/
mmyolo/
mmsegmentation/
project_mmdet/work_dirs/
.ipynb_checkpoints
models/
full_training_data/
map_input_data/
dataset1_files/
